---
interface Props {
  opciones?: Array<string>;
}
const { opciones } = Astro.props;
---

<nav>
  {
    opciones?.map((opc) => {
      let ref = opc.toLocaleLowerCase();
      ref = ref.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
      ref = "#" + ref.replace(" ", "");
      return <a href={ref}>{opc}</a>;
    })
  }
</nav>

<style>
  nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: fixed;
    top: 0;
  }
  a {
    text-decoration: none;
    padding: 20px 50px;
    font-size: 20px;
    color: white;
    font-weight: bold;
  }
  a:hover {
  }
</style>

<script>
  let nav = document.querySelector("nav");
  window.addEventListener("scroll", () => {
    const y = window.scrollY;
    let alpha = y > 0 ? y / 1000 : y;

    nav!.style.backgroundColor = "rgba(22,24,43," + alpha + ")";
  });
</script>
