---
interface Props {
  imagen: string;
  descripcion: string;
  git_texto_alterno?: string;
  enlacegit?: string;
  demo_texto_alterno?: string;
  enlacedemo?: string;
}
const {
  imagen,
  descripcion,
  git_texto_alterno,
  enlacegit,
  demo_texto_alterno,
  enlacedemo,
} = Astro.props;
---

<article>
  <div class="proyecto-imagen">
    <img
      src={imagen}
      width="100%"
      height="100%"
      alt="Aqui va la imagen del proyecto"
    />
  </div>
  <p>{descripcion}</p>
  {
    enlacedemo! || enlacegit! ? (
      <div class="proyecto-enlaces">
        {enlacegit! ? (
          <a href={enlacegit}>
            {!git_texto_alterno ? "Ver GitHub" : git_texto_alterno}
          </a>
        ) : null}
        {enlacedemo! ? (
          <a href={enlacedemo} target="_blank">
            {!demo_texto_alterno ? "Ver Demo" : demo_texto_alterno}
          </a>
        ) : null}
      </div>
    ) : null
  }
</article>

<style>
  article {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    border-radius: 1rem;
    background: linear-gradient(0deg, rgb(16, 0, 161), rgb(1, 35, 230));
  }
</style>
