---
import Menu from "@/components/Menu.astro";

interface Props {
  titulo: string;
  descripcion: string;
}
const { titulo, descripcion } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={descripcion} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{titulo}</title>
    <script
      src="https://kit.fontawesome.com/8ce9115bc8.js"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <Menu opciones={["Inicio", "Proyectos", "Sobre mí", "Contacto"]} />
    <slot />
    <footer>Copyright &copy 2024 - Acis Avendaño Sánchez</footer>
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    background: radial-gradient(
      circle at bottom center,
      rgb(27, 41, 175) 0%,
      rgb(9, 7, 87) 50%,
      rgb(0, 0, 0) 100%
    );
  }
  * {
    color: rgb(255, 255, 255);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
</style>
